<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDw22USvhLTkHlYOur_X6dU0jlirkGGlaA</string>
	<key>GCM_SENDER_ID</key>
	<string>278750220946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notes-a25b0</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-a25b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278750220946:ios:f81521edb856f441c8cc4b</string>
</dict>
</plist>